SERVICE_ID: {{ SERVICE_ID }}
CLUSTER_ID: {{ CLUSTER_ID }}
GOOGLE_PROJECT: {{ GOOGLE_PROJECT }}
GOOGLE_REGION: {{ GOOGLE_REGION }}
SHARED_GOOGLE_PROJECT: "{{ SHARED_GOOGLE_PROJECT }}"
STACK_ID: '{{ STACK_ID }}'
PROJECT_CODE: {{ PROJECT_CODE }}
SHARED_TASK_DIR: ../collections/ansible_collections/common/collection/shared_tasks
SECRET_PREFIX: "{{ PROJECT_CODE ~ STACK_ID ~ '_' ~ ENV_CODE ~ ENV_ID }}"
ENV_CODE: {{ ENV_CODE }}
ENV_ID: '{{ ENV_ID }}'
ENV_TYPE: {{ ENV_TYPE }}
AUTH_URL: {{ AUTH_URL }}
ADMIN_USER_OPENDJ: odjadminuser_1_auth
#GCP_AUTH_KIND: accesstoken
HOST_NAME_SUFFIX: ".{{ DNS_NAME | regex_replace('[.]$', '') }}"
SCRIPTS_DIR: ../collections/ansible_collections/ums/collection/scripts
ATTACHMENTS_DIR: ../collections/ansible_collections/ums/collection/scripts/attachments
COMMON_SCRIPTS_DIR: ../collections/ansible_collections/common/collection/scripts
COMMON_ATTACHMENTS_DIR: ../collections/ansible_collections/common/collection/scripts/attachments
{#CONTROL_MACHINE_TEMP_PATH: "/tmp/{{ SERVICE_ID }}_temp"#}
ENVIRONMENT: {{ ENV_CODE }}
PROJECT_SEARCH_DOMAIN: "{{ PROJECT_SEARCH_DOMAIN }}"
PROJECT_NAMESERVERS: "{{ PROJECT_NAMESERVERS }}"
{#ENABLE_MONITORING: "{{ ENABLE_MONITORING }}"#}
{#PRODUCTION_STATE: "{{ PRODUCTION_STATE }}"#}
{# SPLUNK_CONF_FILE_PATH: "{{ SPLUNK_CONF_FILE_PATH }}" #}
{# SPLUNK_ENDPOINT: "{{ SPLUNK_ENDPOINT }}" #}
DOCKER_BACKEND_TOMCAT: backend-tomcat
{#DOCKER_FRONTEND_NGINX: tc-tenantrouter-frontend-nginx #}
DNS_MANAGED_ZONE: {{ DNS_MANAGED_ZONE }}
GOOGLE_PROJ_ID_REG_DNS: {{ GOOGLE_PROJ_ID_REG_DNS }}
PYTHON_VERSION: python3
Authentication_K8s_USERSTORE: "{{ Authentication_K8s_USERSTORE }}"
Authentication_K8s_TOKENSTORE: "{{ Authentication_K8s_TOKENSTORE }}"
Authentication_K8s_CONFIGSTORE: "{{ Authentication_K8s_CONFIGSTORE }}"
{% set ALL_HOSTS_FQDN = groups['all']|default([]) | map('extract', hostvars, 'host_fqdn')|default('') | list | sort | join(',') %}
{#ALL_HOSTS_FQDN: "{{ ALL_HOSTS_FQDN }}"#}
{#ALL_HOSTS_PRIVATE_IP: "{{ groups['all']|default([]) | map('extract', hostvars, 'private_ip')|default('') | list | sort | join(',') }}"#}
{#ZONE_SYNC_TIMESTAMP_FQDN: "{{ (ALL_HOSTS_FQDN.split(',') | first).replace('app-', 'zs-', 1).rsplit('-', 1)[0] ~ '.' ~ DNS_NAME[:-1] }}"#}
{#ALL_HOSTS_PRIVATE_IP: "{{ groups['all']|default([]) | map('extract', hostvars, 'private_ip')|default('') | list | sort | join(',') }}"#}
{#ZONE_SYNC_TIMESTAMP_FQDN: "{{ (ALL_HOSTS_FQDN.split(',') | first).replace('app-', 'zs-', 1).rsplit('-', 1)[0] ~ '.' ~ DNS_NAME[:-1] }}"#}
NODE1_IP: "{{ groups['all']|default([]) | map('extract', hostvars, 'private_ip')|default('') | list | sort | first }}"
ENV_TYPE: {{ ENV_TYPE }}
PIM_PLATFORM_ID: {{ PIM_PLATFORM_ID }}
PIM_MA: {{ PIM_MA }}
PIM_MA_GROUP: {{ PIM_MA_GROUP }} 
PIM_HOST:  {{ PIM_HOST }} 
PIM_FunctionalAccountID: {{PIM_FunctionalAccountID }}
DOCKER_RELEASE: "{{ DOCKER_RELEASE }}"
DOCKER_BUILD: "{{ DOCKER_BUILD }}"
{#REGISTRY_DOMAIN: "{{ REGISTRY_DOMAIN }}"#}
REGISTRY_URL_LOCAL: "{{ REGISTRY_DOMAIN }}/{{ SHARED_GOOGLE_PROJECT }}"
DOCKER_IMAGES_BACKEND_TOMCAT: "{{ REGISTRY_DOMAIN ~ '/' ~ SHARED_GOOGLE_PROJECT ~ '/' ~ 'ums-backend-tomcat' ~ '-' ~ DOCKER_RELEASE ~ ':' ~ DOCKER_BUILD }}"
SUBNET_CODE: "{{ SUBNET_CODE }}"
LDAP_USER_PREFIX: "{{ LDAP_USER_PREFIX }}"
{#OPENDJ_FQDN: "{{ OPENDJ_FQDN }}"#}
TEAM: "{{ TEAM }}"
REGION_ID: "{{ REGION_ID }}"
BUILD_LEVEL: "{{ BUILD_LEVEL }}"
BUILD_NUMBER: "{{ BUILD_NUMBER }}"
OWNER_MAIL: "{{ OWNER_MAIL }}"
DEPLOYMENT_PURPOSE: "{{ DEPLOYMENT_PURPOSE }}"
DEPLOYMENT_SIZE: "{{ DEPLOYMENT_SIZE }}"
SUBSTREAM_ID: "{{ SUBSTREAM_ID }}"
{#TCS_GSM_FEATURE_FLAG: {{ TCS_GSM_FEATURE_FLAG }}#}
{# AUTH_IDP_CALLBACKUSER_USER_TMS: {{ AUTH_IDP_CALLBACKUSER_USER_TMS }}
TCS_GSM_PROJECT_NAME: {{ TCS_GSM_PROJECT_NAME }}
OIDC_FEATURE_FLAG: {{ OIDC_FEATURE_FLAG }}
GCE_PROJ_ID: {{ GOOGLE_PROJ_ID_REG_DNS }}
TCS_GSM_KEY_AUTHN_CLIENT_SECRET_VERSION: {{ TCS_GSM_KEY_AUTHN_CLIENT_SECRET_VERSION }}
AUTH0_URL: {{ AUTH0_URL }}
OPENAM_ELB_URL: {{ OPENAM_ELB_URL }}
GENERIC_URL: {{ GENERIC_URL }}
FRONT_CODE_DIRECTORY: "{{ FRONT_CODE_DIRECTORY }}"
TENANT_DATA_DIRECTORY: "{{ TENANT_DATA_DIRECTORY }}"
TR_LOG_DIRECTORY: "{{ TR_LOG_DIRECTORY }}"
ENABLE_MONITORING: "{{ ENABLE_MONITORING }}"
DOCKER_IMAGE_TAG: "{{ DOCKER_IMAGE_TAG }}"
LOC_DEF_KEY: "{{  LOC_DEF_KEY }}"
NAME_SERVER_IP: "{{ NAME_SERVER_IP }}" #}
GOOGLE_MANAGED_ZONE: {{ GOOGLE_MANAGED_ZONE }}
{#TCS_URL: {{ TCS_URL }}#}
PUBLIC_ZONE: {{ PUBLIC_ZONE }}
{% set FUNCTION_CODE = 'app' %}
{#FUNCTION_CODE: "{{ FUNCTION_CODE }}"
LDAP_APP_NAME: {{ LDAP_APP_NAME }}
WFM_UI_AUDIENCE_DEV: "{{ WFM_UI_AUDIENCE_DEV }}"
WFM_UI_AUDIENCE_TEST: "{{ WFM_UI_AUDIENCE_TEST }}"
WFM_HYDRATE_VALID_AUDIENCE_DEV: "{{ WFM_HYDRATE_VALID_AUDIENCE_DEV }}"
WFM_HYDRATE_VALID_AUDIENCE_TEST: "{{ WFM_HYDRATE_VALID_AUDIENCE_TEST }}"
WFM_HYDRATE_VALID_CLIENT_ID_DEV: "{{ WFM_HYDRATE_VALID_CLIENT_ID_DEV }}"
WFM_HYDRATE_VALID_CLIENT_ID_TEST: "{{  WFM_HYDRATE_VALID_CLIENT_ID_TEST }}"
NGINX_CNAME: "{{ PROJECT_CODE ~ STACK_ID ~ '-' ~ ENV_CODE ~ ENV_ID ~ '-' ~ SERVICE_ID ~ CLUSTER_ID ~ '-ilb' ~ '.' ~ DNS_NAME[:-1] }}"
SERVICE_FUNCTION: {{ SERVICE_FUNCTION }} #}
{% set FRONTEND_FQDN = PROJECT_CODE ~ STACK_ID ~ '-' ~ ENV_CODE ~ ENV_ID ~ '-' ~ SERVICE_ID ~ CLUSTER_ID ~ '-' ~ SERVICE_FUNCTION ~ '.' ~ DNS_NAME[:-1] %}
{# Trex Registration inputs #}
{# 
REGISTER_WITH_TREX: {{ REGISTER_WITH_TREX }}
HEALTH_CHECK_API: {{HEALTH_CHECK_API}}
SERVICE_GROUP: {{ SERVICE_GROUP }}
SERVICE_EXTENSIONS: {{ SERVICE_EXTENSIONS }}
SERVICE_PORT: {{ SERVICE_PORT }}
SERVICE_PROTOCOL: {{ SERVICE_PROTOCOL }}
SERVICE_TROXROUTABLE: {{ SERVICE_TROXROUTABLE }}
SERVICE_TYPE: {{ SERVICE_TYPE }}
SERVICE_UNIQUE_IDENTIFIER: {{ SERVICE_UNIQUE_IDENTIFIER }}
SERVICE_UNIQUE_REGION: {{ SERVICE_UNIQUE_REGION }}
SERVICE_URL_PATH: {{ SERVICE_URL_PATH }}
SERVICE_VERSION: {{ SERVICE_VERSION }} 
SERVICE_CODE: {{ SERVICE_CODE }}
SERVICE_NAME: {{ SERVICE_NAME }}
SERVICE_LEVEL: {{ SERVICE_LEVEL }}
TRS_AUTHN_URL: {{ TRS_AUTHN_URL }}
TRS_URL: {{ TRS_URL }} #}
